<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Master Data Reconciliation</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Home</li>
            <!-- <li class="breadcrumb-item"><a href="#">View</a></li> -->
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <!-- <h5 class="mt-4 mb-2">Info Box With <code>bg-gradient-*</code></h5> -->
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-wrench"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>
                  <a href="#" class="dropdown-item">Something else here</a>
                  <a class="dropdown-divider"></a>
                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-sm-6 col-12">
                <app-widget-bar></app-widget-bar>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-dark">Master Data Reconiciliation Detail</h3>
                  <div class="card-body table-responsive p-0">
                    <table id="idTable" cellpadding="10px" style="height: 100px;">
                      <tr>
                        <th *ngFor="let col of columns">{{col}}</th>
                      </tr>
                      <tr *ngFor="let row of rows">
                        <td *ngFor="let col of columns">
                          {{row[col]}}
                        </td>
                      </tr>
                    </table>
                    <!-- <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>Meter Number</th>
                          <th>Commodity</th>
                          <th>Service ID</th>
                          <th>Installation Date</th>
                          <th>Is Auth</th>
                          <th>Meter Status</th>
                          <th>Service Center</th>
                          <th>Account Number</th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>815256</td>
                          <td>Elec</td>
                          <td>10008152512561200</td>
                          <td>01/01/2017</td>
                          <td>Yes</td>
                          <td>Active</td>
                          <td>Gregory Park</td>
                          <td>10051245123</td>
                          <td>Device ID missing from DCE</td>
                        </tr>
                        <tr>
                          <td>881252</td>
                          <td>Gas</td>
                          <td>10008152518251100</td>
                          <td>01/01/2017</td>
                          <td>Yes</td>
                          <td>Active</td>
                          <td>Gregory Park</td>
                          <td>10051241453 </td>
                          <td>Device ID missing from MDM</td>
                        </tr>
                        <tr>
                          <td>891623</td>
                          <td>Water</td>
                          <td>10008152515126300</td>
                          <td>01/01/2017</td>
                          <td>No</td>
                          <td>Active</td>
                          <td>Harrison</td>
                          <td>10051241625</td>
                          <td>Device ID missing from MDM & DCE</td>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- /.col -->
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
          <div class="card-footer">
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- <div class="row">
  </div> -->
    <!-- /.card -->
  </section>